.container{
  display: grid;
  grid-template-columns: 40% 59%;
  grid-template-rows: auto;
  width: 50%;
  margin: auto auto auto auto;
  background-color: white;
  padding: 20px;
  justify-content: space-between;
}

#cont1{
  background-color: orange;
  text-align: center;
  font-family: 'Bruno Ace', cursive;
  font-size: 20px;
}


#fotocv{
  margin-top: 5px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#cont2{
  background-color: black;
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 20px;
}

h1{
  color: violet;
  font-size: 75px;
}

h2{
  color: #4D94F9;
}

#tabla{
  color: yellow;
  border-color: yellow;
}

#fin{
  margin-top: 5px;
  background-color: #1A7110;
  font-family: 'Bruno Ace', cursive;
  font-size: 20px;
  grid-column: 1/4;
}
